:root {
  --fondo-codigo: #1c232c;
  --codigo-texto: rgb(175, 175, 47);
  --fondo-navegacion: #00afb9;
  --fondo-boton-navegacion: #006d77;
  --color-nombres: rgb(255, 255, 255);
}

/* Box model hack */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
/* General */

/* Background */
.Pagina-Bg {
  background-color: var(--fondo-navegacion);
  background-size: cover;
}
/* Menu Scroll */

#MenuContenido {
  margin: 0 auto;
  background-color: var(--fondo-navegacion);
}

#MenuContenido a {
  display: flex;
  text-decoration: none;
  padding-top: 1rem;
  color: black;
  padding: 1rem;
}

#MenuContenido a:hover{
  color: white;
  background-color: var(--fondo-boton-navegacion);
}

.MenuScroll {
  margin: 1rem 0px 0px 1rem ;
  display: none;
  border: 2px solid var(--fondo-boton-navegacion);
  border-radius: 1rem;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: fit-content;
  overflow-y: auto;
  overflow-x: hidden;
  margin-right: 5rem;

  /* position: fixed;
  top: 50; */

}

#MenuBtn {
  width: 200px;
}

/* Cómo mostrar la pagina */

.Pagina {
  display: grid;
  grid-template-columns: auto 1fr;
}

.Descripcion {
  margin-left: 1rem;
}

.Informacion {
  margin: 0 1rem;
}

/* Codigos */

.codigo {
  background-color: var(--fondo-codigo);
  width: fit-content;
  border: 2px black solid;
  border-radius: 1rem;
  color: white;
}
.codigo p{
  margin: 1rem 1rem;
}
@media (max-width: 680px) {
  .codigo p{
    font-size: 10px; 
  }
    
}
.tabulacion {
  margin-left: 40px;
}

.etiqueta,
.etiqueta-cerrada {
  color: white;
}

.etiqueta::after,
.etiqueta-cerrada::after {
  color: var(--codigo-texto);
  content: ">";
}

.etiqueta::before {
  color: var(--codigo-texto);
  content: "<";
}

.etiqueta-cerrada::before {
  color: var(--codigo-texto);
  content: "</";
}

/*Utilidades*/

.texto-centrado {
  text-align: center;
}

.contenedor-centrado {
  margin: 0 auto;
}

.texto-negro {
  color: black;
}

.arreglar-margin {
  margin-top: 0;
  padding-top: 1rem;
}

.Box-Shadow {
  padding: 0 2rem;
  background-color: rgba(0, 0, 0, 0.075);
  border-radius: 1rem;
  margin: 1rem 0;
  margin-right: 1rem;
}
.Borde {
  border-radius: 1rem;
}

.lista-links a{
  color: white;
}

#seleccionado{
  text-decoration: underline !important; 
  color: white !important;
  background-color: var(--fondo-boton-navegacion);
}

.Celular{
  width: 100%;
}

.MenuScrollCelular{
  width: 50%;
  height: 100vh;
}

/*Navegacion*/

#Navegacion {
  display: flex;
  justify-content: space-between;
  background-color: var(--fondo-navegacion);
  border-bottom: 2px solid var(--fondo-boton-navegacion);

  position: fixed;
  top: 0;
  width: 100%;
}
main{
  margin-top: 3rem;
  /* Esto arregla que la barra no tape nada */
}
nav a,
#MenuBtn,
i,
#Inicio,
#Nosotros {
  color: black;
  padding: 1rem 1rem;
  text-decoration: none;
  /* text-shadow: 0px 0px 1px black; */
  text-transform: uppercase;
  font-weight: bold;
}

nav a:hover{
  color: white;
  background-color: var(--fondo-boton-navegacion);
}

/* Listas */

ol {
  list-style-type: decimal;
}

li {
  margin-top: 0.5rem;
}

/* Nosotros */
.Logos{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 5rem;
}
.Logo{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Logo p{
  line-height: 2;
  text-align: center;
}
.Logo h2{
  color: var(--color-nombres);
}
.Logo img{
  border-radius: 50%;
}

@media (max-width: 1372px) {
  .Logos{
    display: flex;
    flex-direction: column;
  }
  .Logo{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Logo p{
    line-height: 2;
    text-align: center;
    max-width: 50%;
  }
}
@media (max-width: 1024px) {
  .Box-Shadow{
    margin-right: 0;
  }
}